.search-input {
  padding: 10px 10px;
  display: inline-block;
  margin-right: 40px;
  height: 52px;
  position: relative;
}

.search-input::before {
  margin: 30px;
  display: inline-block;
  position: fixed;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 11px;
  left: 30px;
  line-height: 32px;
  opacity: 0.2;
}

.search-input > input {
  width: 100%;
  font-size: 18px;
  border: none;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
  margin-right: 40px;
}

.search-input > input:focus {
  outline: none;
}

img {
  height: auto;
  width: 100%;
}